<!-- Template for the app route -->
{% extends 'base.html' %}
<div class="row">
  {% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Published</th>
        <th scope="col">Nickname</th>
        <th scope="col">Fingerprint</th>
      </tr>
    </thead>
    <tbody>
      {% for router in routers %}
        <tr>
          <th scope="row">
            {% if router[0] %}
                bridge
            {% else %}
                relay
            {% endif %}</th>
          <td>{{ router[1] }}</td>
          <td>{{ router[2] }}</td>
          <td><a href="{{ url_for('router.profile', fingerprint=router[3]) }}">{{ router[3] }}</a></td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
  {% include "_pagination.html" %}
  {% endblock %}
</div>
