<!doctype html>
<title>{% block title %}{{ title }}{% endblock %} - TagTor</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fa-all.min.css') }}">
<script src="{{ url_for('static', filename='plotly-2.18.0.min.js') }}"></script>
<header>
  {% block header %}{% endblock %}
  {% include "_navbar.html" %}
</header>
<div class="container-fluid">
  <div class="container">
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    <!-- Content here -->
    {% block content %}{% endblock %}
  </div>
</div>
